<div class="card mx-4 my-4">
    <div class="card-header">
        <ul class="nav-pills card-header-pills">
            <div class="row">
                <div class="col-1" style="margin-right: -3%;">
                    <button class="btn btn-success">Conectar</button>
                </div>
                <div class="col-3">
                    <button class="btn btn-warning">Cerrar chat</button>
                </div>    
            </div>
            <div class="row">
                           
            </div>
        </ul>
    </div>
    <div class="card-body" style="overflow-y: scroll; height: 360px;"></div>
    <div class="card-footer">
        <form class="form-inline">
            <div class="form-group">
                <div class="row">
                    <div class="col-2">
                        <input type="text" class="form-control" placeholder="Escribe un mensaje..." name="texto">
                    </div>
                    <div class="col-2">
                        <button class="btn btn-primary" type="submit">Enviar</button>
                    </div>
                </div>
                
            </div>
           
        </form>
    </div>
</div>
